/* ===== GLOBAL ===== */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7fb;
}

/* ===== HEADER / FOOTER ===== */
.app-header {
    padding: 8px 0;
    background: #1e1e1e;
}

/* LOGO */
.app-logo {
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    color: #fff !important;
}

/* NAV LINKS (desktop) */
.app-nav > li > a {
    color: white !important;
    font-weight: 500;
    padding: 8px 14px;
    transition: all 0.2s ease;
}

/* dropdown card */
.uk-navbar-dropdown {
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}
/* mobile offcanvas */
.uk-offcanvas-bar {
    background: #000000A0
}

 #footer {
    margin-bottom: 10px;
     background-color: #1e1e1e;
}

/* ===== FILTRES ===== */
#divFilter {
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

/* inputs uniformes */
#divFilter input,
#divFilter select {
    min-width: 140px;
}

/* ===== GRID POKÉMON ===== */
#pokeList {
    padding: 20px;
}

/* ===== CARD POKÉMON ===== */
.uk-card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background: white;
    padding: 8px;
    font-size: 12px;
    min-height: unset;
    position: relative; /* important */
}

.uk-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

/* ID Pokédex */
.uk-card p:first-child {
    font-weight: bold;
    color: #555;
    margin-bottom: 4px; /* réduit l'espace sous le numéro */
}
.uk-card img {
    margin-top: 0; /* enlève l'espace au-dessus de l'image */

}
.pokeImg{
    width: 70px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: 5px auto;
    display: block;
}

/* Nom FR (principal) */
.poke-name-fr {
    font-size: 16px;
    font-weight: 700;
    color: #1e1e1e;
    line-height: 1.2;
    margin-top: 5px;
    margin-bottom: 2px;
}

/* Nom EN (secondaire) */
.poke-name-en {
    font-size: 15px;
    color: #888;
    font-style: italic;
    line-height: 1.1;
    margin-top: 2px;
}

.poke-id {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin: 0;
}

/* même taille + couleur pour le numéro */
.poke-number {
    font-size: 14px;
    color: #555;
    font-weight: 600;
    line-height: 1;
}

/* icône UIkit */
/* icône en haut à droite */
.poke-id {
    position: relative;
}

.poke-right {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.poke-btns,
.poke-info {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 6px;
    background: transparent;
    color: #666;

    border: none; /* enlève le style bouton */
    cursor: pointer;
    padding: 0;
}

/* hover identique */
.poke-btns:hover,
.poke-info:hover {
    background: rgba(0,0,0,0.05);
    color: #000;
}

.poke-btns svg,
.poke-info svg {
    width: 16px;
    height: 16px;
    fill: currentColor;
}

/* ===== TYPES ===== */
.type-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin: 5px auto;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    width: fit-content;
    color: white;
}

/* icône type */
.imgType {
    width: 20px;
    height: 20px;
}

/* Couleurs officielles par type */
.normal { background-color: #9fa19f; }      /* Normal */
.feu { background-color: #e62727; }         /* Fire */
.eau { background-color: #297ff0; }        /* Water */
.électrik { background-color: #fac000; }  /* Electric */
.plante { background-color: #3ea128; }     /* Grass */
.glace { background-color: #40d9ff; }     /* Ice */
.combat { background-color: #ff8000; }     /* Fighting */
.poison { background-color: #9241cc; }     /* Poison */
.sol { background-color: #915221; }       /* Ground */
.vol { background-color: #81baf0; }        /* Flying */
.psy { background-color: #f04178; }  /* Psychic */
.insecte { background-color: #91a11a; }  /* Bug */
.roche { background-color: #b0aa82; }    /* Rock */
.spectre { background-color: #704170; }    /* Ghost */
.dragon { background-color: #5162e0; }     /* Dragon */
.ténèbres { background-color: #4f403e; }   /* Dark */
.acier { background-color: #5fa0b8; }   /* Steel */
.fée { background-color: #f071f0; }      /* Fairy */


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #1e1e1e;
    color: white;
    cursor: pointer;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.2s;
}

#myBtn:hover {
    transform: scale(1.1);
    background-color: #1E1E1EA8;
}

/*quiz*/
.containerLR {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


/* Wrapper pour left + right */
#left, #right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Organisation horizontale */
#left, #right {
    width: 50%;
}

