#pokeList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 16px;
    padding: 20px;
}

#pokeList div {
    /*background: #f5f5f5;*/
    background: #dad1d1;
    border-radius: 12px;
    padding: 12px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#pokeList div:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#pokeList img {
    max-width: 100%;
    height: auto;
}

#pokeList p {
    display: inline-flex; /* alignement icône + texte horizontal */
    align-items: center;
    gap: 5px; /* espace entre icône et nom */
    padding: 4px 8px; /* padding à l’intérieur du rectangle */
    border-radius: 12px; /* arrondi des coins */
    font-size: 12px; /* taille du texte */
    font-weight: bold;
    color: black;
    margin: 2px; /* espace entre badges */
}

.imgType {
    width: 20px;
    height: 20px;
    object-fit: contain;
    vertical-align: middle;
    margin-right: 5px;
}

.type{
    color: white;
}

/* Couleurs officielles par type */
.normal { background-color: #9fa19f; }      /* Normal */
.feu { background-color: #e62727; }         /* Fire */
.eau { background-color: #297ff0; }        /* Water */
.électrik { background-color: #fac000; }  /* Electric */
.plante { background-color: #3ea128; }     /* Grass */
.glace { background-color: #40d9ff; }     /* Ice */
.combat { background-color: #ff8000; }     /* Fighting */
.poison { background-color: #9241cc; }     /* Poison */
.sol { background-color: #915221; }       /* Ground */
.vol { background-color: #81baf0; }        /* Flying */
.psy { background-color: #f04178; }  /* Psychic */
.insecte { background-color: #91a11a; }  /* Bug */
.roche { background-color: #b0aa82; }    /* Rock */
.spectre { background-color: #704170; }    /* Ghost */
.dragon { background-color: #5162e0; }     /* Dragon */
.ténèbres { background-color: #4f403e; }   /* Dark */
.acier { background-color: #5fa0b8; }   /* Steel */
.fée { background-color: #f071f0; }      /* Fairy */